*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #37474f;
  --light-color: #62727b;
  --dark-color: #102027;
  --main-secondary: #455a64;
  --font-secondary: 'Libre Baskerville', serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

.navbar {
  background-color: var(--main-color);
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.nav-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}

.title,
subtitle {
  text-align: center;
}

.title {
  font-weight: 900;
  line-height: 150%;
  font-size: 1.3rem;
}

.container1 {
  display: grid;
  color: #fff;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-item {
  height: 80vh;
}
.grid-item h4 {
  font-size: 2rem;
  padding: 3rem;
  line-height: 150%;
  font-weight: 900;
}

.container1 > .grid-item:first-child,
.container1 > .grid-item:last-child {
  background-color: var(--main-secondary);
}
.container1 > .grid-item:nth-child(2),
.container1 > .grid-item:nth-child(3) {
  background-color: #546e7a;
}
